<body>
	<section class="background chari-row-1 padding">
		<div class="inner inner-800">
			<h1 class="center white">{{ label }}</h1>
				<div class="owl-carousel owl-theme">
	     		<div class="item">
	     			<p class="large center white">{{ content.field_owl_carousel_quotes_.0 }}</p>
	     		</div>
			     <div class="item">
			     		<p class="large center white">{{ content.field_owl_carousel_quotes_.1 }}</p>
			     </div>
			     <div class="item">
			     		<p class="large center white">{{ content.field_owl_carousel_quotes_.2 }}</p>
			     </div>
			     <div class="item">
			     		<p class="large center white">{{ content.field_owl_carousel_quotes_.3 }}</p>
			     </div>
 			</div>
		</div>
	</section>

	<section class="chari-row-2 padding">
		<div class="inner inner-700">
			<h2 class="center">{{ content.field_section_2_head.0 }}</h2>
			<p class="center">{{ content.field_section_2_para.0 }}</p>
		</div>
		<div class="inner inner-700">
			<h2 class="center">{{ content.field_section_2_heading.0 }}</h2>
			<p class="center">{{ content.field_section_2_paragraph_2.0 }}</p>
		</div>
		<div class="inner inner-700">
			<h2 class="center">{{ content.field_section_2_heading_3.0 }}</h2>
			<p class="center">{{ content.field_section_2_paragraph_3.0 }}</p>
		</div>
		<div class="flex-mob a-center jc-center">
   			{{ content.field_section_2_li.0 }}
		</div>
		<h2 class="center dash">{{ content.field_section_2_heading_4.0 }}</h2>
			<div class="inner inner-1100 flex">
				<div class="box margin-bottom">
					<div class="inner">
						<h3 class="center white">{{ content.field_bronze_box_headings.0 }}</h3>
						<p class="center white">{{ content.field_bronze_box_para.0 }}</p>
					</div>
				</div>
				<div class="box">
					<div class="inner">
						<h3 class="center white">{{ content.field_bronze_box_headings.1 }}</h3>
						<p class="center white">{{ content.field_bronze_box_para.1 }}</p>
				</div>
				</div>
				<div class="box">
					<div class="inner">
						<h3 class="center white">{{ content.field_bronze_box_headings.2 }}</h3>
						<p class="center white">{{ content.field_bronze_box_para.2 }}</p>
					</div>
				</div>
				<div class="box">
					<div class="inner">
						<h3 class="center white">{{ content.field_bronze_box_headings.3 }}</h3>
						<p class="center white">{{ content.field_bronze_box_para.3 }}</p>
					</div>
				</div>
				<div class="box">
					<div class="inner">
						<h3 class="center white">{{ content.field_bronze_box_headings.4 }}</h3>
						<p class="center white">{{ content.field_bronze_box_para.5 }}</p>
					</div>
				</div>
				<div class="box">
					<div class="inner">
						<h3 class="center white">{{ content.field_bronze_box_headings.5 }}</h3>
						<p class="center white">{{ content.field_bronze_box_para.5 }}</p>
					</div>
				</div>
			</div>
		<div class="flex-mob a-center jc-center">
			{{ content.field_section_2_link_2.0 }}
		</div>
	</section>

	<section class="chari-row-3 background padding">
		<h2 class="center white">{{ content.field_section_3_he.0 }}</h2>
		<p class="center white inner inner-820">{{ content.field_section_3_para.0 }}</p>
	</section>

	<section class="chari-row-4 padding">
		<h2 class="center ">{{ content.field_section_4_heading.0 }}</h2>
		<p class="center inner inner-820">{{ content.field_section_4_para.0 }}</p>
	</section>

	<section class="background chari-row-5 padding">
		{{ drupal_view('case_studies', 'block_1') }}
	</section>

	<section class="chari-row-6 padding">
		<div class="flex-mob a-center jc-center">
			{{ content.field_section_6_li.0 }}
		</div>
	</section>

		<section class="background brown chari-row-7 padding">
		<div class="inner inner-700">
			<h2 class="center white">{{ content.field_section_7_.0 }}</h2>
			<p class="center white">{{ content.	field_section_7_para.0 }}</p>
		</div>
		<div class="flex-mob a-center jc-center">
			{{ content.field_section_7_link.0 }}
		</div>
	</section>

		<div class="canvas grey-top grey-bottom"> 
			{{ content.field_canvas.0 }}
		</div>
</body>